--swiftversion 5.0
--indent 4
--linebreaks lf
--trimwhitespace always
--commas inline
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions preserve
--disable wrapMultilineStatementBraces
